force-app/main/default/flows/Aggregate_By_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Aggregate_by_Product_TEST</name>
        <label>Aggregate by Product TEST</label>
        <locationX>705</locationX>
        <locationY>933</locationY>
        <actionName>Aggregate_by_Product_TEST</actionName>
        <actionType>dataProcessingEngineAction</actionType>
        <connector>
            <targetReference>LoopOnRebateTypes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>BatchCalcJobDefinitionId</name>
            <value>
                <stringValue>9N15w000000000fCAA</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>PeriodFilter</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;sourceFieldName&quot;: &quot;Id&quot;,&quot;operator&quot;: &quot;Equals&quot;,&quot;value&quot;: &quot;&apos;+{!GetCurrentPeriod.Id}+&apos;&quot;,&quot;sequence&quot;: 1}]&apos;</expression>
    </formulas>
    <formulas>
        <name>RebateProgramFilter</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;sourceFieldName&quot;: &quot;Id&quot;,&quot;operator&quot;: &quot;Equals&quot;,&quot;value&quot;: &quot;&apos;+{!RebateProgramId}+&apos;&quot;,&quot;sequence&quot;: 1}]&apos;</expression>
    </formulas>
    <formulas>
        <name>RebateTypeFilter</name>
        <dataType>String</dataType>
        <expression>&apos;[{&quot;sourceFieldName&quot;: &quot;Id&quot;,&quot;operator&quot;: &quot;Equals&quot;,&quot;value&quot;: &quot;&apos;+{!LoopOnRebateTypes.Id}+&apos;&quot;,&quot;sequence&quot;: 1}]&apos;</expression>
    </formulas>
    <interviewLabel>Aggregate By Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Aggregate By Product</label>
    <loops>
        <name>LoopOnRebateTypes</name>
        <label>LoopOnRebateTypes</label>
        <locationX>426</locationX>
        <locationY>540</locationY>
        <collectionReference>GetRebateTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCurrentPeriod</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>WaitForBatches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCurrentPeriod</name>
        <label>GetCurrentPeriod</label>
        <locationX>721</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Aggregate_by_Product_TEST</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>RebateProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RebateProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RebateProgramPayoutPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRebatePrograms</name>
        <label>GetRebatePrograms</label>
        <locationX>530</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRebateTypes</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateProgram</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRebateTypes</name>
        <label>GetRebateTypes</label>
        <locationX>430</locationX>
        <locationY>394</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnRebateTypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RebateProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RebateProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProgramRebateType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>404</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRebatePrograms</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CalcRebates</name>
        <label>CalcRebates</label>
        <locationX>284</locationX>
        <locationY>919</locationY>
        <flowName>Calculate_Rebates</flowName>
        <inputAssignments>
            <name>RebateProgramId</name>
            <value>
                <elementReference>RebateProgramId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>RebateProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>WaitForBatches</name>
        <label>WaitForBatches</label>
        <locationX>188</locationX>
        <locationY>664</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>WaitForAggregations</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>CalcRebates</targetReference>
            </connector>
            <eventType>BatchJobStatusChangedEvent</eventType>
            <label>WaitForAggregations</label>
        </waitEvents>
    </waits>
</Flow>
