force-app/main/default/flows/Calculate_Rebates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CalculateRebatesAndCreatePayouts</name>
        <label>CalculateRebatesAndCreatePayouts</label>
        <locationX>853</locationX>
        <locationY>427</locationY>
        <actionName>calculateRebateAmountAndUpsertPayout</actionName>
        <actionType>calculateRebateAmountAndUpsertPayout</actionType>
        <connector>
            <targetReference>LoopOnAggregates</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AggregateId</name>
            <value>
                <elementReference>LoopOnAggregates.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>Calculate Rebates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Rebates</label>
    <loops>
        <name>LoopOnAggregates</name>
        <label>LoopOnAggregates</label>
        <locationX>599</locationX>
        <locationY>387</locationY>
        <collectionReference>GetAggregateRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalculateRebatesAndCreatePayouts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOnRebateMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnRebateMembers</name>
        <label>LoopOnRebateMembers</label>
        <locationX>282</locationX>
        <locationY>209</locationY>
        <collectionReference>GetRebateMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetAggregateRecords</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAggregateRecords</name>
        <label>GetAggregateRecords</label>
        <locationX>578</locationX>
        <locationY>172</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnAggregates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RebateProgramMemberId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOnRebateMembers.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateMemberProductAggregate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRebateMembers</name>
        <label>GetRebateMembers</label>
        <locationX>134</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnRebateMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RebateProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RebateProgramId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>407</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetRebateMembers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RebateProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
