force-app/main/default/flows/Create_Rebate_Program_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Parse_Selected_Lines</name>
        <label>Parse Selected Lines</label>
        <locationX>958</locationX>
        <locationY>694</locationY>
        <actionName>ParseMultiSelectFlowValues</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Line_Ids_Selected</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>values</name>
            <value>
                <elementReference>Selected_Lines_for_Rebate</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Line_Ids_Selected</name>
        <label>Assign Line Ids Selected</label>
        <locationX>957</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>ListofIdsSelected</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Batch_Calc_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Rebate_Program_Member</name>
        <label>Assign Rebate Program Member</label>
        <locationX>922</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>NewRebateMember.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Info.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateMember.MemberStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateMember.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Info.SBQQ__Account__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rebate_Program_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Amount_Program_Rebate_Type_Benefit</name>
        <label>Set Amount Program Rebate Type Benefit</label>
        <locationX>552</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.ProgramRebateTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProgramRebateType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.MinimumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.MaximumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.BenefitValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Amount_Program_Rebate_Type_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rebate_Program_Variables</name>
        <label>Set New Rebate Program Variables</label>
        <locationX>698</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rebate_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Rebate_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Percent_Program_Rebate_Type_Benefit</name>
        <label>Set Percent Program Rebate Type Benefit</label>
        <locationX>158</locationX>
        <locationY>2029</locationY>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.ProgramRebateTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProgramRebateType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.MinimumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.MaximumQualifyingValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.BenefitValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Amount_Tiers.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateTypeBenefit.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Percent_Program_Rebate_Type_Benefit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Rebate_Type</name>
        <label>Set Program Rebate Type</label>
        <locationX>216</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Selected_Lines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PercentageOfRevenue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.CalcObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_Calc_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.AggregateObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Program_Rebate_Type_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Rebate_Type_0</name>
        <label>Set Program Rebate Type</label>
        <locationX>427</locationX>
        <locationY>1143</locationY>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Selected_Lines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AmountperUnit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.CalcObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_Calc_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.AggregateObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Program_Rebate_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Schedule_Type</name>
        <label>Check Schedule Type</label>
        <locationX>410</locationX>
        <locationY>969</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule_Is_Percentage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Selected_Lines.SBQQ__DiscountSchedule__r.SBQQ__DiscountUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Percent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Rebate_Type</targetReference>
            </connector>
            <label>Schedule Is Percentage</label>
        </rules>
        <rules>
            <name>Schedule_is_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Over_Selected_Lines.SBQQ__DiscountSchedule__r.SBQQ__DiscountUnit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Program_Rebate_Type_0</targetReference>
            </connector>
            <label>Schedule is Amount</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>LinesforRebate</name>
        <collectionReference>Get_Available_Quote_Lines</collectionReference>
        <dataType>String</dataType>
        <displayField>SBQQ__ProductName__c</displayField>
        <object>SBQQ__QuoteLine__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RebateCalcType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CalculationType</picklistField>
        <picklistObject>ProgramRebateType</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RebateFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency</picklistField>
        <picklistObject>RebateProgram</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RebateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RebateMeasureType</picklistField>
        <picklistObject>ProgramRebateType</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!Get_Quote_Info.SBQQ__EndDate__c}) = TRUE, ADDMONTHS({!Get_Quote_Info.SBQQ__StartDate__c},{!Get_Quote_Info.SBQQ__SubscriptionTerm__c}), {!Get_Quote_Info.SBQQ__EndDate__c})</expression>
    </formulas>
    <formulas>
        <name>RebateProgramName</name>
        <dataType>String</dataType>
        <expression>&quot;Rebate Program for &quot; +  {!Get_Quote_Info.SBQQ__Account__r.Name} + &quot; from &quot; +  {!Get_Quote_Info.Name}</expression>
    </formulas>
    <interviewLabel>Create Rebate Program from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rebate Program from Quote</label>
    <loops>
        <name>Loop_Over_Amount_Tiers</name>
        <label>Loop Over Amount Tiers</label>
        <locationX>557</locationX>
        <locationY>1926</locationY>
        <collectionReference>Get_Discount_Tiers_Amount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Amount_Program_Rebate_Type_Benefit</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Over_Percent_Tiers</name>
        <label>Loop Over Percent Tiers</label>
        <locationX>169</locationX>
        <locationY>1819</locationY>
        <collectionReference>Get_Discount_Tiers_Percent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Percent_Program_Rebate_Type_Benefit</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Over_Selected_Lines</name>
        <label>Loop Over Selected Lines</label>
        <locationX>601</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Selected_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Schedule_Type</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Amount_Program_Rebate_Type_Benefit</name>
        <label>Create Amount Program Rebate Type Benefit</label>
        <locationX>556</locationX>
        <locationY>2291</locationY>
        <inputReference>NewProgramRebateTypeBenefit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Rebate_Program</name>
        <label>Create New Rebate Program</label>
        <locationX>922</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Assign_Rebate_Program_Member</targetReference>
        </connector>
        <inputReference>NewRebateProgram</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Percent_Program_Rebate_Type_Benefit</name>
        <label>Create Percent Program Rebate Type Benefit</label>
        <locationX>163</locationX>
        <locationY>2238</locationY>
        <inputReference>NewProgramRebateTypeBenefit</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Rebate_Type</name>
        <label>Create Program Rebate Type</label>
        <locationX>438</locationX>
        <locationY>1338</locationY>
        <connector>
            <targetReference>Get_Line_Discount_Schedule</targetReference>
        </connector>
        <inputReference>NewProgramRebateType</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Program_Rebate_Type_0</name>
        <label>Create Program Rebate Type</label>
        <locationX>143</locationX>
        <locationY>1232</locationY>
        <connector>
            <targetReference>Get_Line_Discount_Schedule_0</targetReference>
        </connector>
        <inputReference>NewProgramRebateType</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rebate_Program_Member</name>
        <label>Create Rebate Program Member</label>
        <locationX>702</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Get_Available_Quote_Lines</targetReference>
        </connector>
        <inputReference>NewRebateMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Quote_Lines</name>
        <label>Get Available Quote Lines</label>
        <locationX>425</locationX>
        <locationY>694</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Products_for_Rebates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_Calc_Job</name>
        <label>Get Batch Calc Job (Aggregate by Product and Member)</label>
        <locationX>874</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Selected_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aggregate by Product and Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BatchCalcJobDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Discount_Tiers_Amount</name>
        <label>Get Discount Tiers (Amount)</label>
        <locationX>548</locationX>
        <locationY>1743</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Amount_Tiers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Line_Discount_Schedule.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__DiscountTier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Discount_Tiers_Percent</name>
        <label>Get Discount Tiers (Percent)</label>
        <locationX>169</locationX>
        <locationY>1623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Percent_Tiers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Line_Discount_Schedule_0.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__DiscountTier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Discount_Schedule</name>
        <label>Get Line Discount Schedule (Amount)</label>
        <locationX>520</locationX>
        <locationY>1548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Discount_Tiers_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Selected_Lines.SBQQ__DiscountSchedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__DiscountSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Discount_Schedule_0</name>
        <label>Get Line Discount Schedule (Percent)</label>
        <locationX>143</locationX>
        <locationY>1426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Discount_Tiers_Percent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Selected_Lines.SBQQ__DiscountSchedule__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__DiscountSchedule__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Info</name>
        <label>Get Quote Info</label>
        <locationX>695</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rebate_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Quote_Lines</name>
        <label>Get Selected Quote Lines</label>
        <locationX>778</locationX>
        <locationY>871</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Selected_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListofIdsSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pick_Products_for_Rebates</name>
        <label>Pick Products for Rebates</label>
        <locationX>774</locationX>
        <locationY>694</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Parse_Selected_Lines</targetReference>
        </connector>
        <fields>
            <name>Selected_Lines_for_Rebate</name>
            <choiceReferences>LinesforRebate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selected Lines for Rebate</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rebate_Information</name>
        <label>Rebate Information</label>
        <locationX>348</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Rebate_Program_Variables</targetReference>
        </connector>
        <fields>
            <name>Program_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RebateProgramName</elementReference>
            </defaultValue>
            <fieldText>Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Quote_Info.SBQQ__StartDate__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CalculatedEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rebate_Frequency</name>
            <choiceReferences>RebateFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rebate Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Get_Quote_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ListofIdsSelected</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewProgramRebateType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateType</objectType>
    </variables>
    <variables>
        <name>NewProgramRebateTypeBenefit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateTypeBenefit</objectType>
    </variables>
    <variables>
        <name>NewRebateMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RebateProgramMember</objectType>
    </variables>
    <variables>
        <name>NewRebateProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RebateProgram</objectType>
    </variables>
</Flow>
