force-app/main/default/flows/CreateRebatePgmFromQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calc20Trenching</name>
        <label>Calc20Trenching</label>
        <locationX>981</locationX>
        <locationY>865</locationY>
        <actionName>calculateRebateAmountAndUpsertPayout</actionName>
        <actionType>calculateRebateAmountAndUpsertPayout</actionType>
        <connector>
            <targetReference>Create22Trenching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AggregateId</name>
            <value>
                <elementReference>Create20Trenching</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Calc22Trenching</name>
        <label>Calc22Trenching</label>
        <locationX>843</locationX>
        <locationY>1107</locationY>
        <actionName>calculateRebateAmountAndUpsertPayout</actionName>
        <actionType>calculateRebateAmountAndUpsertPayout</actionType>
        <connector>
            <targetReference>LoopOnRebatePeriods</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AggregateId</name>
            <value>
                <elementReference>Create22Trenching</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>CreateRebatePayoutPeriods</name>
        <label>CreateRebatePayoutPeriods</label>
        <locationX>402</locationX>
        <locationY>624</locationY>
        <actionName>generateRebatePayoutPeriods</actionName>
        <actionType>generateRebatePayoutPeriods</actionType>
        <connector>
            <targetReference>CreateRebateType</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rebateProgramId</name>
            <value>
                <elementReference>CreateRebatePgm</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <interviewLabel>CreateRebatePgmFromQuote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateRebatePgmFromQuote</label>
    <loops>
        <name>LoopOnQuoteLines</name>
        <label>LoopOnQuoteLines</label>
        <locationX>146</locationX>
        <locationY>734</locationY>
        <collectionReference>GetQuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateRebateBenefit</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActivateRebate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOnRebatePeriods</name>
        <label>LoopOnRebatePeriods</label>
        <locationX>410</locationX>
        <locationY>823</locationY>
        <collectionReference>GetRebatePeriods</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create20Trenching</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>AddMember</name>
        <label>AddMember</label>
        <locationX>156</locationX>
        <locationY>493</locationY>
        <connector>
            <targetReference>GetQuoteLines</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetQuote.SBQQ__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramId</field>
            <value>
                <elementReference>CreateRebatePgm</elementReference>
            </value>
        </inputAssignments>
        <object>RebateProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create20Trenching</name>
        <label>Create20Trenching</label>
        <locationX>673</locationX>
        <locationY>868</locationY>
        <connector>
            <targetReference>Calc20Trenching</targetReference>
        </connector>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <stringValue>01t5w000008GLEKAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>CreateRebateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramMemberId</field>
            <value>
                <elementReference>AddMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramPayoutPeriodId</field>
            <value>
                <elementReference>LoopOnRebatePeriods.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalQuantity</field>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </inputAssignments>
        <object>RebateMemberProductAggregate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create22Trenching</name>
        <label>Create22Trenching</label>
        <locationX>1059</locationX>
        <locationY>1026</locationY>
        <connector>
            <targetReference>Calc22Trenching</targetReference>
        </connector>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <stringValue>01t5w00000Eqe1iAAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>CreateRebateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramMemberId</field>
            <value>
                <elementReference>AddMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramPayoutPeriodId</field>
            <value>
                <elementReference>LoopOnRebatePeriods.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalQuantity</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <object>RebateMemberProductAggregate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateBenefitMapping</name>
        <label>CreateBenefitMapping</label>
        <locationX>34</locationX>
        <locationY>676</locationY>
        <connector>
            <targetReference>LoopOnQuoteLines</targetReference>
        </connector>
        <inputAssignments>
            <field>AggregateField</field>
            <value>
                <stringValue>RebateMemberProductAggregate.ProductId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>CreateRebateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateTypeBenefitField</field>
            <value>
                <stringValue>ProductId</stringValue>
            </value>
        </inputAssignments>
        <object>PgmRebateTypBnftMapping</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRebateBenefit</name>
        <label>CreateRebateBenefit</label>
        <locationX>562</locationX>
        <locationY>624</locationY>
        <connector>
            <targetReference>LoopOnQuoteLines</targetReference>
        </connector>
        <inputAssignments>
            <field>MinimumQualifyingValue</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LoopOnQuoteLines.SBQQ__Product__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>LoopOnQuoteLines.SBQQ__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProgramRebateTypeId</field>
            <value>
                <elementReference>CreateRebateType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramRebateTypeBenefit</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRebatePgm</name>
        <label>CreateRebatePgm</label>
        <locationX>475</locationX>
        <locationY>510</locationY>
        <connector>
            <targetReference>CreateRebatePayoutPeriods</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <dateValue>2021-12-31</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Frequency</field>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetQuote.SBQQ__Opportunity2__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <dateValue>2021-01-01</dateValue>
            </value>
        </inputAssignments>
        <object>RebateProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateRebateType</name>
        <label>CreateRebateType</label>
        <locationX>254</locationX>
        <locationY>594</locationY>
        <connector>
            <targetReference>AddMember</targetReference>
        </connector>
        <inputAssignments>
            <field>AggregateObjectName</field>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BenefitQualifierField</field>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalcObjectId</field>
            <value>
                <stringValue>9N15w000000000fCAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationMethod</field>
            <value>
                <stringValue>Retrospective</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CalculationType</field>
            <value>
                <stringValue>AggregateBased</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MeasureField</field>
            <value>
                <stringValue>TotalQuantity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Rebate Per Item</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateMeasureType</field>
            <value>
                <stringValue>AmountperUnit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RebateProgramId</field>
            <value>
                <elementReference>CreateRebatePgm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>ProgramRebateType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>DeleteRebatePgms</name>
        <label>DeleteRebatePgms</label>
        <locationX>452</locationX>
        <locationY>277</locationY>
        <connector>
            <targetReference>CreateRebatePgm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateRebatePgm</targetReference>
        </faultConnector>
        <inputReference>GetExistingRebatePgms</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetExistingRebatePgms</name>
        <label>GetExistingRebatePgms</label>
        <locationX>251</locationX>
        <locationY>283</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeleteRebatePgms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateProgram</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>111</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingRebatePgms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteLines</name>
        <label>GetQuoteLines</label>
        <locationX>50</locationX>
        <locationY>476</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateBenefitMapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRebatePeriods</name>
        <label>GetRebatePeriods</label>
        <locationX>274</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnRebatePeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RebateProgramId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateRebatePgm</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RebateProgramPayoutPeriod</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ActivateRebate</name>
        <label>ActivateRebate</label>
        <locationX>92</locationX>
        <locationY>882</locationY>
        <connector>
            <targetReference>GetRebatePeriods</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateRebatePgm</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>RebateProgram</object>
    </recordUpdates>
    <start>
        <locationX>70</locationX>
        <locationY>8</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>QuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
