force-app/main/default/flows/Create_Rebate_Program_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Rebate_Program_Member</name>
        <label>Assign Rebate Program Member</label>
        <locationX>922</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>NewRebateMember.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Info.SBQQ__Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rebate_Program_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Rebate_Program_Variables</name>
        <label>Set New Rebate Program Variables</label>
        <locationX>698</locationX>
        <locationY>275</locationY>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Frequency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rebate_Frequency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewRebateProgram.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Rebate_Program</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Program_Rebate_Type</name>
        <label>Set Program Rebate Type</label>
        <locationX>47</locationX>
        <locationY>693</locationY>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateProgramId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewRebateProgram.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rebate_Type_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.RebateMeasureType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rebate_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.CalcObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_Calc_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProgramRebateType.AggregateObjectName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RebateMemberProductAggregate</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <dynamicChoiceSets>
        <name>LinesforRebate</name>
        <collectionReference>Get_Available_Quote_Lines</collectionReference>
        <dataType>String</dataType>
        <displayField>SBQQ__ProductName__c</displayField>
        <object>SBQQ__QuoteLine__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RebateFrequency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Frequency</picklistField>
        <picklistObject>RebateProgram</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RebateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RebateMeasureType</picklistField>
        <picklistObject>ProgramRebateType</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedEndDate</name>
        <dataType>Date</dataType>
        <expression>IF( ISNULL({!Get_Quote_Info.SBQQ__EndDate__c}) = TRUE, ADDMONTHS({!Get_Quote_Info.SBQQ__StartDate__c},{!Get_Quote_Info.SBQQ__SubscriptionTerm__c}), {!Get_Quote_Info.SBQQ__EndDate__c})</expression>
    </formulas>
    <formulas>
        <name>RebateProgramName</name>
        <dataType>String</dataType>
        <expression>&quot;Rebate Program for &quot; +  {!Get_Quote_Info.SBQQ__Account__r.Name} + &quot; from &quot; +  {!Get_Quote_Info.Name}</expression>
    </formulas>
    <interviewLabel>Create Rebate Program from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Rebate Program from Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Rebate_Program</name>
        <label>Create New Rebate Program</label>
        <locationX>922</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>Assign_Rebate_Program_Member</targetReference>
        </connector>
        <inputReference>NewRebateProgram</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rebate_Program_Member</name>
        <label>Create Rebate Program Member</label>
        <locationX>702</locationX>
        <locationY>485</locationY>
        <connector>
            <targetReference>Select_Rebate_Type</targetReference>
        </connector>
        <inputReference>NewRebateMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Available_Quote_Lines</name>
        <label>Get Available Quote Lines</label>
        <locationX>423</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pick_Products_for_Rebates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote_Info.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch_Calc_Job</name>
        <label>Get Batch Calc Job (Aggregate by Product and Member)</label>
        <locationX>47</locationX>
        <locationY>485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Program_Rebate_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aggregate by Product and Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BatchCalcJobDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Info</name>
        <label>Get Quote Info</label>
        <locationX>695</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rebate_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Pick_Products_for_Rebates</name>
        <label>Pick Products for Rebates</label>
        <locationX>771</locationX>
        <locationY>695</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Available_Quoted_Products</name>
            <choiceReferences>LinesforRebate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Available Quoted Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rebate_Information</name>
        <label>Rebate Information</label>
        <locationX>348</locationX>
        <locationY>152</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Rebate_Program_Variables</targetReference>
        </connector>
        <fields>
            <name>Program_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>RebateProgramName</elementReference>
            </defaultValue>
            <fieldText>Program Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Quote_Info.SBQQ__StartDate__c</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>CalculatedEndDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rebate_Frequency</name>
            <choiceReferences>RebateFrequency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rebate Frequency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Rebate_Type</name>
        <label>Select Rebate Type</label>
        <locationX>351</locationX>
        <locationY>485</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Batch_Calc_Job</targetReference>
        </connector>
        <fields>
            <name>Rebate_Type</name>
            <choiceReferences>RebateType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rebate Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rebate_Type_Name</name>
            <dataType>String</dataType>
            <fieldText>Rebate Type Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>28</locationX>
        <locationY>38</locationY>
        <connector>
            <targetReference>Get_Quote_Info</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewProgramRebateType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProgramRebateType</objectType>
    </variables>
    <variables>
        <name>NewRebateMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RebateProgramMember</objectType>
    </variables>
    <variables>
        <name>NewRebateProgram</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RebateProgram</objectType>
    </variables>
</Flow>
